/* -Choose color pallet follow principles of design
-Choose 1 to 2 fonts - first font for <h> and second font for <p>
- Main div has a limited width and is centered on the screen horizontally
-layout the main column cards using css grid
-Display main sections in a single colomn at this point
-Set the style type of the course links list to none
-Make additional css alterations needed
*/
body {
    font-family: 'YourChosenFont', sans-serif;
    background-color: #f7f3e3ff;
    color: #FFF;
}


header,
nav,
main,
footer {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
}

header {

    background-color: #38182f;
    color: #fff;
    border: 2px solid #343432;
}


nav {

    border: 2px solid #343432;

}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation li {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #38182f;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "courseName"
        "learnAct"
        "information";

    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.courseName {
    grid-area: courseName;
    text-align: center;
    color: #38182f;

}


.card h3 {
    background-color: #343432;
    color: #fff;
    text-align: center;
}

.card p {
    color: #343432;
    text-align: center;
}

#learnAct {

    color: #343432;
    /* Text color for the header */

}

#learnAct h3 {
    text-align: center;
    background-color: #343432;
    color: #fff;
}

#learnActList {
    list-style: none;
    /* Remove default list styling */
    padding: 0;
    /* Remove default padding for the list */
}


footer {
    background-color: #343432;
    ;
    color: #fff;
    text-align: center;
}